<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=90fb7a73-b3c0-410f-8775-baaa4934d433" type="text/javascript"></script>
  <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
</head>
<body>

<div class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container">
    <%= link_to t("app.name"), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Профиль", current_user, class: "nav-link" %></li>
          <li><%= link_to "Выйти", destroy_user_session_path, class: "nav-link", :method => :delete %></li>
        <% else %>
          <li><%= link_to "Войти", new_user_session_path, class: "nav-link" %></li>
          <li><%= link_to "Зарегистрироваться", new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container h-100">
  <div class="row mt-5 mb-5 justify-content-center vh-100">
    <div class="col-8">
      <% if flash.any? %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <% flash.each do |name, message| %>
            <%= content_tag :div, message, class: "flash-#{name}" %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
      <footer class="blockquote-footer">
        <p>&copy; <%= t "app.company" %> 2021</p>
      </footer>
    </div>
  </div>
</div>

</body>
</html>
